@keyframes fly-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.line {
  height: 1px;
  background-color: #444444;
  width: 100%;
  animation: fly-in 0.5s ease forwards;
  margin-bottom: 12px;
}
