.reset-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.reset-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.reset-button:focus {
  outline: none;
}

.selectedTheme {
  font-weight: bold;
  font-size: 18px;
}

/* 
uses existing "reset-button" class with 
components/themeSelector/themeSelector.css
*/
