.header {
  padding: 8px 0px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header-image {
  max-width: 100%;
  height: auto;

  @media (max-width: 600px) {
    margin-bottom: 24px;
  }
}
