:root {
  font-family: Open, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 {
  color: #343434;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.styled-link {
  font-size: 22px;
  text-decoration: none;
  color: #444444;
}

.about-list li {
  margin-bottom: 10px;
}
sup {
  font-size: 10px;
}

.styled-link:hover {
  font-weight: bold;
}
