.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  background: rgb(28, 28, 28);
  padding: 16px 16px 0px 16px;
}

.message div {
  margin-bottom: 8px;
}

.cookie-btn {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.cookie-btn button {
  padding: 6px 14px;
  font-size: 16px;
  border-radius: 6px;
}

.cookie-btn button:hover {
  font-weight: bold;
}
